
<div class="main contact-margin-top" id="contact" wmAnimate="jackInTheBox" aos speed="normal">
    <div class="contact-div-main">
      <div class="contact-header">
        <h1 class="heading contact-title">{{contactInfo.title}}</h1>
        <p class="subTitle contact-subtitle">{{contactInfo.subtitle}}</p>
        <div class="contact-text-div">
          <!-- <a class="contact-detail" href="{{'tel:'+ contactInfo.number}}">{{contactInfo.number}}</a> -->
          <br><br>
          <!-- <a class="contact-detail-email" href="{{'mailto:' + contactInfo.email_address}}">
            {{contactInfo.email_address}}</a> -->
          <br><br>
          <app-social-media></app-social-media>
        </div>
      </div>
      <!--      <div >-->
      <!--&lt;!&ndash;      <img src="../../assets/images/contactMail.webp" class="contact-image">&ndash;&gt;-->
      <!--      </div>-->
      <form [formGroup]="formGroup" novalidate (ngSubmit)="enviarMail()">
        <div>

          <div class="row">
              <div class="col-md-6 mb-3">
                
                  <input type="text" placeholder="Nombre *" name="nombre" class="form-control" id="nombre" formControlName="nombre"/>
                  <small class="invalid" *ngIf="formGroup.get('nombre')?.errors?.required && formGroup.get('nombre')?.touched">Nombre requerido</small>
                  
              </div>
          </div>

          <div class="row">

              <div class="col-md-6 mb-3">
                  <input type="text" placeholder="Email *" name="email" class="form-control" id="email" formControlName="email"/>
                  <small class="invalid" *ngIf="formGroup.get('email')?.errors?.required && formGroup.get('email')?.touched">Mail requerido</small>
                  <small class="invalid" *ngIf="formGroup.get('email')?.errors?.email && formGroup.get('email')?.touched">Mail incorrecto</small>
          
              </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
                <input type="textarea" placeholder="Comentario *" name="texto" class="form-control" id="texto" formControlName="texto"/>
                <small class="invalid" *ngIf="formGroup.get('texto')?.errors?.required && formGroup.get('texto')?.touched">Comentario requerido</small>
        
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
                <input type="number" placeholder="Tel de contacto" name="telefono" class="form-control" id="telefono" formControlName="telefono"/>
                <!-- <small class="invalid" *ngIf="formGroup.get('telefono')?.errors?.required && formGroup.get('telefono')?.touched">Edad requerida</small> -->
                
            </div>
            
          </div>

            <!-- <re-captcha class="captcha"
              formControlName="captcha"
              name="captcha"
              required
              siteKey="6Leu2wUbAAAAABT5uSUdeAQEg4BLbKkoeKJR7LNm"
            ></re-captcha> -->
          
            <button class="main-button" type="submit" [disabled]="formGroup.invalid">Enviar</button>
        </div>

      </form>
    </div>
  </div>
  